<div id="form">
  <h1>Become a part of our dance community in Berlin!</h1><br>
  <h2>Sign Up Here</h2>
  <form action="/auth/signup" method="POST">

    <label class="form-label"> Username
      <input type="text" name="username" class="form-control" placeholder="Your username" required/>
    </label>

    <label class="form-label"> Email
      <input type="email" name="email" class="form-control" placeholder="Your email" required/>
    </label>

    <label class="form-label"> Password
      <input type="password" name="password" class="form-control" placeholder="Your password" required/>
    </label>

    <button type="submit" class="btn btn-primary">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>