<h1>Register a Dance Course</h1>

<form method="POST" action="/courses/create">
  <label> Name:
    <input type="text" name="name" required/>
  </label>

  <label> Dance Style:
    <input type="text" name="dancestyle"required />
  </label>

  <label> Teacher:
    <input type="text" name="teacher" required/>
  </label>

  <label> Location:
    <input type="text" name="location"required />
  </label>

  <label> Address:
    <input type="text" name="address" required/>
  </label>

  <label> Level:
    <input type="text" name="level" required/>
  </label>

  <label> Price:
    <input type="number" name="price" required/>
  </label>

   <label> Descriptioin:
    <input type="number" name="description" required/>
  </label>

  <button type="submit">Create Course</button>
  <a href="/courses">Back</a>
</form>