<h1>Register a Dance Course</h1>

<form method="POST" action="/courses/create">
  <label>  Name:
    <input type="text" name="title" />
  </label>

   <label> Dancestyle:
     <input type="text" name="title" />
  </label>
  
  <label> Teacher:
     <input type="text" name="title" />
  </label>

  <label> Location:
    <textarea name="details" cols="30" rows="4"> </textarea>
  </label>

   <label> Address:
     <input type="text" name="title" />
  </label>

   <label> Level:
     <input type="text" name="title" />
  </label>

  <button type="submit"> Create </button>
</form>