<h1>Register a Dance Course</h1>

<form method="POST" action="/books/create">
  <label>  Name:
    <input type="text" name="title" />
  </label>

   <label> Style:
  </label>
  
  <label> Teacher:
  </label>

  <label> Course Details:
    <textarea name="details" cols="30" rows="4"> </textarea>
  </label>

   <label> Comment:
  </label>

  

  <button type="submit"> Create </button>
</form>