<h1>Delete Course</h1>

<p>Are you sure you want to delete "{{ course.name }}"?</p>

<form action="/courses/{{ _id }}/comments" method="POST">
  <label for="comment">Add a comment:</label>
  <input type="text" id="comment" name="comment">
  <button type="submit">Submit</button>
</form>